@font-face {
    font-family: "Balqis";
    src: url("../fonts/Balqis.eot");
    src: local("Balqis"), url('../fonts/Balqis.woff2') format('woff2'),
        local("Balqis"), url('../fonts/Balqis.woff') format('woff');
}